/* hovers */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

body h2 {
  font-family: "Titan One", cursive;
  font-size: 34px;
  font-weight: 400;
  color: #D41443;
  margin: 100px;
  letter-spacing: 4%;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1279px) {
  body h2 {
    font-size: 48px;
  }
}

@media (min-width: 1280px) {
  body h2 {
    font-size: 58px;
  }
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

section {
  padding: 115px 0;
}

.container {
  margin: 0 auto;
  max-width: 280px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .container {
    max-width: 700px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1050px;
  }
}

.btn {
  border: none;
  border-radius: 20px;
  padding: 13px 25px;
  font-size: 14px;
  font-weight: 400px;
}

.btn--raspberry {
  background-color: #D41443;
  color: #FFF;
}

.btn--raspberry:hover, .btn--raspberry:active {
  background-color: #C7133E;
}

.btn--raspberry-hero {
  background-color: #D41443;
  color: #FFF;
}

@media (max-width: 1279px) {
  .btn--raspberry-hero {
    padding: 10px 15px;
    font-size: 8px;
  }
}

.btn--raspberry-hero:hover, .btn--raspberry-hero:active {
  background-color: #C7133E;
}

.btn--white {
  background-color: #FFF;
  color: #D41443;
}

.btn--white:hover, .btn--white:active {
  background-color: #ECEBEB;
}

.btn--white-hero {
  background-color: #FFF;
  color: #D41443;
}

@media (max-width: 1279px) {
  .btn--white-hero {
    padding: 10px 15px;
    font-size: 8px;
  }
}

.btn--white-hero:hover, .btn--white-hero:active {
  background-color: #ECEBEB;
}

.social__icon {
  width: 32px;
  height: 32px;
}

.advantages__values1::before {
  content: url(../images/advantages/icon1advantages.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.advantages__values2::before {
  content: url(../images/advantages/icon2advantages.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.advantages__values3::before {
  content: url(../images/advantages/icon3advantages.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.advantages {
  display: block;
  margin-left: 20px;
  margin-right: 70px;
}

.advantages__item {
  margin-top: 38px;
}

.advantages__values {
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.139;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-bottom: 16px;
  color: #D41443;
}

.advantages__p {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 36px;
  }
  .advantages__p {
    font-size: 14px;
    line-height: 1.714;
  }
  .advantages__item {
    width: 180px;
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
  .advantages__item:not(:last-child) {
    margin-right: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 115px;
  }
  .advantages__p {
    font-size: 16px;
    line-height: 1.756;
  }
  .advantages__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
  .advantages__item:not(:last-child) {
    margin-right: 30px;
  }
}
/*# sourceMappingURL=main.css.map */