<section class="section-about">
  <div class="container">
    <p class="section-about__titleup">TRADITION AND LOVE</p>
    <h2 class="section-about__titledown">HOW IT'S MADE?</h2>
    <div class="section-about__wrapper">
      <div class="section-about__pictures">
        <picture>
          <source
            media="max-width:767px"
            srcset="./images/about/cowmobile.png 1x, ./images/about/cowmobile@2x.png 2x" 
          />
          <source
            media="min-width:768px"
            srcset="./images/about/cowmtablet.png 1x, ./images/about/cowtablet@2x.png 2x"
          />
          <source
            media="min-width:1280px"
            srcset="./images/about/cowdesktop.png 1x, ./images/about/cowdesktop@2x.png 2x"
          />
          <img class="section-about__image" src="./images/about/cowmain.png" alt="cow" />
        </picture>
      </div>
      <div class="section-about__desctription">
        <p class="section-about__one">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="section-about__two">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="section-about__three">Aliquam eratt volutpat. Aenean accumsan.</p>
        <button class="section-about__btn" type="button" data-menu-open>
          Read more
          <svg class="section-about__icon" width="10" height="10">
            <use href="./images/about/readmorebtn.svg#icon-readbtn"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
