<section class="section">
  <h4 class="hidden">Advantages</h4>
  <ul class="advantages">
    <li class="advantages__item">
      <figure class="advantages__figure">
        <img class="advantages__img" src="./images/advantages/icon1advantages.png" alt="deser1" />
        <figcaption class="advantages__caption">
          <p class="advantages__values">721</p>
          <p class="advantages__p">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </figcaption>
      </figure>
    </li>
    <li class="advantages__item">
      <figure class="advantages__figure">
        <img class="advantages__img" src="./images/advantages/icon2advantages.png" alt="deser2" />
        <figcaption class="advantages__caption">
          <p class="advantages__values">16kg</p>
          <p class="advantages__p">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </figcaption>
      </figure>
    </li>
    <li class="advantages__item">
      <figure class="advantages__figure">
        <img class="advantages__img" src="./images/advantages/icon3advantages.png" alt="deser3" />
        <figcaption class="advantages__caption">
          <p class="advantages__values">84</p>
          <p class="advantages__p">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </figcaption>
      </figure>
    </li>
  </ul>
</section>
