<!-- <section class="section">
  <h4 class="hidden">Advantages</h4>
  <ul class="advantages">
    <li class="advantages__item">
      <p class="advantages__values advantages__values1">721</p>
      <p class="advantages__p">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__item">
      <p class="advantages__values advantages__values2">16kg</p>
      <p class="advantages__p">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__item">
      <p class="advantages__values advantages__values3">84</p>
      <p class="advantages__p">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
  </ul>
</section> -->