<section>
  <ul class="advantages">
    <li class="advantages__item">
      <figure class="advantages__figure">
        <img class="advantages__img" src="./images/advantages/icon1advantages.png" alt="deser1" />
        <figcaption class="advantages__caption">
          <h2 class="advantages__heading">721</h2>
          <p class="advantages__p">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </figcaption>
      </figure>
    </li>
    <li class="advantages__item">
      <figure class="advantages__figure">
        <img class="advantages__img" src="./images/advantages/icon2advantages.png" alt="deser1" />
        <figcaption class="advantages__caption">
          <h2 class="advantages__heading">16kg</h2>
          <p class="advantages__p">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </figcaption>
      </figure>
    </li>
    <li class="advantages__item">
      <figure class="advantages__figure">
        <img class="advantages__img" src="./images/advantages/icon3advantages.png" alt="deser1" />
        <figcaption class="advantages__caption">
          <h2 class="advantages__heading">84</h2>
          <p class="advantages__p">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </figcaption>
      </figure>
    </li>
  </ul>
</section>
