<section class="contact">
  <h4 class="hidden">Contact</h4>
  <div class="container">
    <!-- Własny kontener "contact" ( Do paddingów itd. ) -->

    <ul class="contact__box">
      <!-- Pierwsza Sekcja  -->

      <li class="info__section">
        <span class="contact__heading"><p class="contact__heading--text">CAFE</p></span>
        <ul class="contact__list">
          <li class="contact__town">
            <p class="contact__paragraph">Chicago</p>
          </li>
          <li class="contact__item">
            <p class="contact__item--description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
        </ul>
        <ul class="contact__list">
          <li class="contact__item">
            <p class="contact__paragraph">Monday - Friday</p>
            <p class="contact__item--hours">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contact__item">
            <p class="contact__paragraph">Saturday - Sunday</p>
            <p class="contact__item--hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contact__list">
          <a class="contact__link--item" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a class="contact__link--item" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </ul>
      </li>

      <!-- Koniec Pierwszej Sekcja -->

      <!-- Druga Sekcja -->

      <li class="info__section">
        <span class="contact__heading--green"><p class="contact__heading--text">FOODTRUCK</p></span>
        <ul class="contact__list">
          <li class="contact__town">
            <p class="contact__paragraph">Los Angeles</p>
          </li>
          <li class="contact__item">
            <p class="contact__item--description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
        </ul>
        <ul class="contact__list">
          <li class="contact__item">
            <p class="contact__paragraph">Monday - Friday</p>
            <p class="contact__item--hours">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contact__item">
            <p class="contact__paragraph">Saturday - Sunday</p>
            <p class="contact__item--hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contact__list">
          <a class="contact__link--item" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a class="contact__link--item" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </ul>
      </li>

      <!-- Koniec Drugiej Sekcji  -->

      <!-- Trzecia Sekcja -->

      <li class="info__section">
        <span class="contact__heading"><p class="contact__heading--text">CAFE</p></span>
        <ul class="contact__list">
          <li class="contact__town">
            <p class="contact__paragraph">New York</p>
          </li>
          <li class="contact__item">
            <p class="contact__item--description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
        </ul>
        <ul class="contact__list">
          <li class="contact__item">
            <p class="contact__paragraph">Monday - Friday</p>
            <p class="contact__item--hours">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contact__item">
            <p class="contact__paragraph">Saturday - Sunday</p>
            <p class="contact__item--hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contact__list">
          <a class="contact__link--item" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a class="contact__link--item" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </ul>
      </li>
    </ul>

    <!-- Koniec Trzeciej Sekcji -->

    <!-- Sekcja Przycisków  -->

    <div class="contact__btn">
      <button class="contact__btn--item" type="button">
        Our Locations
        <svg class="contact__btn--icon" width="6px" height="10px">
          <use href="images/sprite-svg/icons.svg#icon-Vector-1-1"></use>
        </svg>
      </button>
      <button class="contact__btn--item" type="button">
        Franchise
        <svg class="contact__btn--icon" width="6px" height="10px">
          <use href="images/sprite-svg/icons.svg#icon-Vector-1-2"></use>
        </svg>
      </button>
    </div>

    <!-- Koniec Sekcji Przycisków  -->

    <!-- ^^^ To koniec sekcji " contact" ^^^ -->
  </div>

  <!-- ^^^ To koniec sekcji "container"^^^ -->
</section>

<!-- ^^^ To koniec sekcji "section"^^^ -->
