<div class="container">
  <!-- Własny kontener "contact" ( Do paddingów itd. ) -->

  <div class="contact">
    <!-- Pierwsza Sekcja  -->

    <div class="cafe_chicago">
      <p class="contact__heading">CAFE</p>
      <ul class="contact__list">
        <li class="contact__item">
          <p>Chicago</p>
        </li>
        <li class="contact__item">
          <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </li>
      </ul>
      <ul>
        <li class="contact__item">
          <p>Monday - Friday</p>
          <p>06:00 AM - 10:00 PM</p>
        </li>
        <li class="contact__item">
          <p>Saturday - Sunday</p>
          <p>08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="contact__link">
        <a class="contact__link--item" href="#">+61(0) 383 766 284</a>
        <a class="contact__link--item" href="#">noreply@envato.com</a>
      </ul>
    </div>

    <!-- Koniec Pierwszej Sekcja -->

    <!-- Druga Sekcja  -->

    <div class="foodtruck__los-angeles">
      <p class="contact__heading">FOODTRUCK</p>
      <ul class="contact__list">
        <li class="contact__item">
          <p>Los Angeles</p>
        </li>
        <li class="contact__item">
          <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </li>
      </ul>
      <ul>
        <li class="contact__item">
          <p>Monday - Friday</p>
          <p>06:00 AM - 10:00 PM</p>
        </li>
        <li class="contact__item">
          <p>Saturday - Sunday</p>
          <p>08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="contact__link">
        <a class="contact__link--item" href="#">+61(0) 383 766 284</a>
        <a class="contact__link--item" href="#">noreply@envato.com</a>
      </ul>
    </div>

    <!-- Koniec Drugiej Sekcji  -->

    <!-- Trzecia Sekcja -->

    <div class="cafe_new-york">
      <p class="contact__heading">CAFE</p>
      <ul class="contact__list">
        <li class="contact__item">
          <p>New York</p>
        </li>
        <li class="contact__item">
          <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </li>
      </ul>
      <ul>
        <li class="contact__item">
          <p>Monday - Friday</p>
          <p>06:00 AM - 10:00 PM</p>
        </li>
        <li class="contact__item">
          <p>Saturday - Sunday</p>
          <p>08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="contact__link">
        <a class="contact__link--item" href="#">+61(0) 383 766 284</a>
        <a class="contact__link--item" href="#">noreply@envato.com</a>
      </ul>
    </div>

    <!-- Koniec Trzeciej Sekcji -->

    <!-- Sekcja Przycisków  -->

    <div class="contact__btn">
      <button type="button">Our Locations</button>
      <button type="button">Franchise</button>
    </div>

    <!-- Koniec Sekcji Przycisków  -->
  </div>

  <!-- ^^^ To koniec sekcji " contact" ^^^ -->
</div>

<!-- ^^^ To koniec sekcji "container"^^^ -->
