<section class="splide" aria-label="Splide Basic HTML Example">
    <div class="container">
        <div class="splide__track">
              <ul class="splide__list">
                  <li class="splide__slide">
                      <img src="#" alt="customer">
                      <div>
                          <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                      </div>
                      <h4>Emily, Los Angeles</h4>
                  </li>
                  </li>
                  <li class="splide__slide">
                    <img src="#" alt="customer">
                    <div>
                        <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                    <h4>Emily, Los Angeles</h4>
                </li>
                <li class="splide__slide">
                    <img src="#" alt="customer">
                    <div>
                        <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                    <h4>Emily, Los Angeles</h4>
                </li>
              </ul>
        </div>
    </div>
  </section>

  <style>
    body{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #f0f0f0;
    }
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 600px;
        width: 100%;
        background-color: #fff;
        height: 400px;
        border-radius: 20px;
        padding: 50px;
    }
    p{
        text-align: center;
        --lineH: 1.6em;
        line-height: var(--lineH);
        padding: var(--lineH);
        padding-block: 0;/*reset to set first line right at top */
        background: repeating-linear-gradient(to bottom, transparent 0 1.4em, gray 1.4em calc(1.4em + 2px), transparent calc(1.4em + 2px) 1.6em)  50% 0 / calc(100% - var(--lineH) * 2  ) 100% no-repeat ;
    }
</style>
<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, odit voluptatibus eum nulla repellendus magnam vel doloribus aliquam tenetur nam aperiam, laboriosam optio eos, soluta eaque expedita labore. Enim, eum?</p>
</div>