<section class="splide">
    <div class="container">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <img src="images/customer-reviews/reviewer1.png" alt="customer">                   
                    <div class="splide__quote-container">
                        <p class="splide__quote">Nullam viverra consectetuer. Quisque cursus xd, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>                    
                    </div>
                    <h4 class="splide__name">Emily, Los Angeles</h4>
                </li>
                <li class="splide__slide">
                    <img src="images/customer-reviews/reviewer2.png" alt="customer">
                    <div class="splide__quote-container">
                        <p class="splide__quote">Nullam viverra consectetuer. Quisque cursus xd, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>                    
                    </div>
                    <h4 class="splide__name">Emily, Los Angeles</h4>
                </li>
                <li class="splide__slide">
                    <img src="images/customer-reviews/reviewer3.png" alt="customer">                    
                    <div class="splide__quote-container">
                        <p class="splide__quote">Nullam viverra consectetuer. Quisque cursus xd, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>                    
                    </div>
                    <h4 class="splide__name">Emily, Los Angeles</h4>
                </li>
            </ul>
        </div>
    </div>
  </section>