<!-- <footer>
    <div class="left-side">
        <h2>homemade ice cream made</h2>
        <p>with passion</p>
    </div>
    
    <div class="right-side">
            <ul class="social__list">
                <li class="social__item">
                    <a class="social__link" href="https://github.com/">
                        <svg class="social__icon">
                            <use href="images/sprite.svg#github"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="https://telegram.org/?setln=pl">
                        <svg class="social__icon">
                            <use href="images/sprite.svg#telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="https://pl-pl.facebook.com/">
                        <svg class="social__icon">
                            <use href="images/sprite.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <p class="phone__text">Feel free to contact<a class="phone__link" href="tel:61(0)383766284"> +61 (0) 383 766 284</a></p>
    </div>
    
    <div class="foot">
        <p class="foot__text">&copy; 2019 - IceCream. All Rights Reserved. </p>
    </div>
    </footer> -->