<footer>
<div class="left-side">
        <ul class="left-side__list">
            <li class="left-side__item">homemade ice cream made</li>
            <li class="left-side__item">with passion</li>
        </ul>
</div>

<div class="right-side">
        <ul class="social__list">
            <li class="social__item">
                <a href="https://github.com/">github</a>
            </li>
            <li class="social__item">
                <a href="https://telegram.org/?setln=pl">telegram</a>
            </li>
            <li class="social__item">
                <a href="https://pl-pl.facebook.com/">facebook</a>
            </li>
        </ul>
        <p class="phone-text">Feel free to contact<a class="phone" href="tel:61(0)383766284"> +61 (0) 383 766 284</a></p>
</div>

<div class="foot">
    <p class="foot__text">&copy; 2019 - IceCream. All Rights Reserved. </p>
</div>
</footer>
