<h1>header</h1>
<div class="conteiner">
    <div class="topbox">
        <a class="topbox__logo" href="#">
            <svg class="logo">
                <use href="#"></use>
            </svg>
        </a>
        <nav class="topbox__navi">
            <ul class="web">
                <li class="web__item">
                    <a class="web__link" href="#">Home</a>
                </li>
                <li class="web__item">
                    <a class="web__link" href="#">About us</a>
                </li>
                <li class="web__item">
                    <a class="web__link" href="#">How it's made?</a>
                </li>
                <li class="web__item">
                    <a class="web__link" href="#">Our products</a>
                </li>
                <li class="web__item">
                    <a class="web__link" href="#">Contact</a>
                </li>
            </ul>
        </nav>
        <button class="button button--header" type="button">Buy now</button>
    </div>
    <div class="centralbox">
        <div class="centralbox__passion">
            <h2 class="centralbox__passion_title">
                ice cream made with passion
            </h2>
            <button class="button button--products" type="button">Products</button>
            <button class="button butto--made" type="button">How it's made?</button>
        </div>
           <div class="milktext">
               <img src="#" alt="a jug of milk">
            <p class="milktext__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            </p>
           </div>
        <img src="" alt="colored ice">
        <div class="numbers">
            <p class="numbers__item">16</p>
            <p class="numbers__item">23</p>
        </div>
        <img src="#" alt="girl with ice">
    </div>
</div>