<!-- <section class="products section">
    <p class=""> 100% Natural </p>
    <h2 class=""> Products</h2>
    <ul class="products__list">
        <li class="products__item">
            <p class="label label__products"> Ice cream </p>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <button  class="button__arrow" type="button">
                <a class="products__link" href="#">
                    <svg class="" width="40px" height="40px">
                        <use htef="./images/sprite.svg#icon-arrowr"></use>
                    </svg>
                </a>
            </button>
        </li>
        <li class="products__item">
            <p class=""> Ice coffee </p>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <button  class="button__arrow" type="button">
                <a class="products__link" href="#">
                    <svg class="" width="40px" height="40px">
                        <use htef="./images/sprite.svg#icon-arrowr"></use>
                    </svg>
                </a>
            </button>
        </li>
        <li class="products__item">
            <p class=""> Milkshakes </p>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <button  class="button__arrow" type="button">
                <a class="products__link" href="#">
                    <svg class="" width="40px" height="40px">
                        <use htef="./images/sprite.svg#icon-arrowr"></use>
                    </svg>
                </a>
            </button>
        </li>
    </ul>
</section> -->