<section class="products section">
    <h2 class="label"> 100% Natural </h2>
    <h1 class="title">Products</h1>
    <ul class="products__list">
        <li class="products__item">
            <!-- <img class="products__img" src="./images/products/products1.png"/> -->
            <h2 class="label label__products"> Ice cream </h2>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <button  class="button__arrow" type="button">
                <a class="products__link" href="#">
                    <img src="./images/arrow-right.png" class="products__icon" width="40px" height="40px"/>
                </a>
            </button>
        </li>
        <li class="products__item">
            <!-- <img class="products__img" src="./images/products/products1.png"/> -->
            <h2 class="label label__products"> Ice cream </h2>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <button  class="button__arrow" type="button">
                <a class="products__link" href="#">
                    <img src="./images/arrow-right.png" class="products__icon" width="40px" height="40px"/>
                </a>
            </button>
        </li>
        <li class="products__item">
            <!-- <img class="products__img" src="./images/products/products1.png"/> -->
            <h2 class="label label__products"> Ice cream </h2>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <button  class="button__arrow" type="button">
                <a class="products__link" href="#">
                    <img src="./images/arrow-right.png" class="products__icon" width="40px" height="40px"/>
                </a>
            </button>
        </li>
    </ul>
</section>