<section class="products section">
    <div class="container">
        <p class="products__title"> 100% Natural </p>
    <h2 class="h2 products__h2"> Products</h2>
    <ul class="products__list">
        <li class="products__item products__item--icecream">
            <p class="products__label"> Ice cream </p>
            <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <a class="products__link" href="#">
                    <svg class="products__icon" width="10px" height="10px">
                        <use htef="./images/sprite-svg/icons.svg#icon-Vector-1"></use>
                    </svg>
                </a>
        </li>
        <li class="products__item products__item--coffee">
            <p class="products__label"> Ice coffee </p>
            <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <a class="products__link" href="#">
                    <svg class="products__icon" width="10px" height="10px">
                        <use htef="./images/sprite-svg/icons.svg#icon-Vector-1"></use>
                    </svg>
                </a>
        </li>
        <li class="products__item products__item--milkshake">
            <p class="products__label"> Milkshakes </p>
            <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <a class="products__link" href="#">
                    <svg class="products__icon" width="10px" height="10px">
                        <use htef="./images/sprite-svg/icons.svg#icon-Vector-1"></use>
                    </svg>
                </a>
        </li>
    </ul>
    </div>    
</section>