.advantages__values1::before {
    content: url(../images/advantages/icon1advantages.png);
    display: flex;
    margin-bottom: 16px;
}

.advantages__values2::before {
    content: url(../images/advantages/icon2advantages.png);
    display: flex;
    margin-bottom: 16px;
}

.advantages__values3::before {
    content: url(../images/advantages/icon3advantages.png);
    display: flex;
    margin-bottom: 16px;
}

.advantages {
    display: block;
    margin-left: 20px;
    margin-right: 70px;

    &__item {
        margin-top: 38px;
    }


    &__values {
        font-family: $font-head;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 1.139;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        padding-bottom: 16px;
        color: $color-raspberry;

    }

    &__p {
        font-family: $font-main;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.667;
        letter-spacing: 0.02em;

        color: #000000;
    }
}



@media screen and (min-width: 768px) {
    .advantages{
        display: flex;
        margin-left: 36px;

    &__p {
        font-size: 14px;
        line-height: 1.714;
    }

    &__item {
        width: 180px;
        flex-basis: calc(100% / 3 - 30px);
    }

    }
    .advantages__item:not(:last-child) {
        margin-right: 60px;
    }
}

@media screen and (min-width: 1200px) {
    .advantages {
        display: flex;
        margin-left: 115px;
        // flex-wrap: wrap;
        // justify-content: space-between;

        &__p {
            font-size: 16px;
            line-height: 1.756;
        }

        &__item {
            flex-basis: calc(100% / 3 - 30px);
        }
    }

    .advantages__item:not(:last-child) {
        margin-right: 30px;
    }
}