.splide {
    padding-bottom: 0;
    padding-top: 0;
    
    &__slide {
        height: 540px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }

    &__quote-container {
        background-color: #FAFAFA;
        width: 280px;
        height: 255px;
        padding-top: 45px;
        position: relative;
        z-index: -2;

        @media (min-width: 768px) and (max-width: 1279px) {
            width: 600px;
            height: 160px;
        }

        @media (min-width: 1280px) {
            width: 890px;
            height: 150px;
        }
        
        &::before {
            content: url(../images/customer-reviews/quotes.png);
            position: absolute;
            fill: black;
            z-index: -1;
            width: 54px;
            height: 40px;
            left: 67px;
            top: 27px;
        }

        &::after {
            content: "";
            height: 6px;
            width: 22px;
            top: 106%;
            left: 50%;
            display: inline-block;
            position: absolute;
            border-bottom: 4px dotted $color-raspberry;
            transform: translateX(-50%);
        }      
    }

    &__quote {
        z-index: 2;
        margin: 0 auto;
        font-size: 12px;
        font-weight: 500;
        max-width: 205px;
        text-align: center;
        line-height: 2em;
        padding: 2em;
        padding-block: 0;
        background: repeating-linear-gradient(transparent 0 calc(2em - 1px), #E1E1E1 0  2em);
        
        @media (min-width: 768px) and (max-width: 1279px) {
            max-width: 490px;
            font-size: 14px;
        }

        @media (min-width: 1280px) {
            max-width: 750px;
            font-size: 16px;
        }
    }

    &__name {
        font-size: 14px;
        font-weight: 500;
        margin-top: 10px;

        @media (min-width: 768px) and (max-width: 1279px) {
            font-size: 16px;
        }

        @media (min-width:1280px) {
            font-size: 20px;
        }
    }
}
.container {
    .splide__pagination__page.is-active {
        background-color: $color-raspberry;
        transform: scale(1.2)
    }
}
