header {
    background-color: $color-pink-1;
    height: 502px;
}
.see {
    overflow: hidden;
    height: 502px;
}

.topbox {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    fill: rgba(212, 20, 67, 1);
    padding-top: 6px;

    &__logo {
        max-width: 199px;
        max-height: 50px;
    }
}
.web, .btn--white, .milktext, .numbers, .fotogirl  {
    display: none;
}
.header__menu { 
    width: 20px;
    height: 12px;    
}
.centralbox {
    display: flex;
    align-items: center;
    position: relative;

    &__ellipse{
        position: absolute;
        top: 27px;
        left: 36px;
        z-index: 0;
        width: 346px;
        height: 344px;
        border-radius: 50%;
        background-color: $color-pink-3;
        
    }
    &__passion {
        z-index: 2;
        max-width: 218px;
        background-color: transparent;
        text-transform: uppercase;
        font-size: 26px;
        color: white;
        
    }
    &__passion_title{
        font-size: 26px;
        margin-bottom: 20px;
        font-family: $font-head;
    }

    &__passion_title2 {
        font-size: 48px;
        color: $color-raspberry;
        font-family: $font-head;
    }
}

.fotoice {
    position: relative;
    top: 36px;
    right: 117px;
    
}
@media screen and (min-width:768px) {
    header {
        height: 394px;
    }
   .see {
       overflow: visible;
   }
   
    .topbox {
        max-width: 700px;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: start;
        background-color: transparent;
        padding-top: 37px;
        z-index: 1; 
        &__logo {
            margin-right: 245px;
        }
    }
    .header__menu {
        margin-right: 30px;
    }
    .btn--white {
        display: flex;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        line-height: 1.3em;
        padding-left: 37px;
    }
        .milktext, .numbers, .fotogirl {
            display: flex;
        }
    .milktext {
        position: absolute;
        bottom: 50px;
        left: 0;

        &__text {
            font-size: 8px;
            line-height: 1.5em;
            width: 114px;
            height: 48px;
            color: rgba(255, 255, 255, 1);
            margin-bottom: 20px;
        }
        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: white;
            fill: $color-raspberry;
            font-size: 12px;

            &:hover, :active {
                background-color: $color-raspberry;
                fill: white;
            }
        }
        
    }
        
       .fotogirl {
           position: absolute;
           bottom: 33px;
           right: 0;
       } 
       .fotoice {
           top: -30px;
           right: -125px;
       }
       .numbers {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            right: 8px;
            font-size: 28px;
            color: $color-raspberry;
            font-family: $font-head;
            margin-top: 24px;
            line-height: 1.142em;

            &__item {
            position: relative;
            z-index: 1;
           }
           &__item::before {
               position: absolute;
               z-index: -1;
               transform: translate(25px, -5px);
                content:"";
                width: 16px;
                height: 16px;
                background-color: white;
                border-radius: 50%;
           }
       }
       .centralbox {
           

        &__passion {
                position: relative;
                
                top: -90px;
                left: 0px;
                max-width: 180px;
            }
        &__passion_title {
            font-size: 22px;
            margin-bottom: 20px;
            
        }
        &__passion_title2 {
            font-size: 34px;
        }

            &__ellipse {
                width: 324px;
                height: 322px;
                top: -45px;
                left: 235px;
            }
       }
       
       .btn--white_text {
           margin-left: 12px;
           padding-right: 19px;
       }
}
@media screen and (min-width: 1280px){
    header, .see {
        height: 665px;
    }
   
    .topbox {
        max-width: 1200px;
        margin: 0 auto;
        justify-content: start;

        &__logo {
            margin-right: 110px;
        }
        &__navi {
            margin-right: 110px;
        }
    }
    .header__menu {
        display: none;
    }
    .web {
        display: flex;
        justify-content: space-between;
        gap: 35px;
        &__item {
            display: flex;
            
        }
        &__link {
            text-decoration: none;
            font-size: 16px;
            color: white;
            font-weight: 700;

            &:hover, :active {
                color: $color-raspberry;
                
            }
        }
    }
         .active {
             color: $color-raspberry;
         }
    .centralbox {
        
        &__passion {
            max-width: 277px;
        }

        &__passion_title {
            font-size: 38px;
            width: 277px;
        }
        &__passion_title2 {
            font-size: 58px;
        }
        &__ellipse {
            width: 538px;
            height: 538px;
            top: -32px;
            left: 345px;
        }
    }
    .fotoice {
        top: 20px;
        right: -200px;
    }
    .fotogirl {
        bottom: -18px;
    }
    .milktext {
        left: -20px;
        bottom: 20px;

        &__text {
            font-size: 14px;
            line-height: 1.4em;
            width: 277px;
            height: 78px;
            margin-top: 30px;
            padding-right: 80px;
        }
    }
    .numbers {
        font-size: 46px;
        top: 36px;
        
        &__item::before{
            transform: translate(35px, -5px);
            width: 30px;
            height: 30px;
        }
    }
    .btn--raspberry-hero, .btn--white-hero  {
        padding:12px 20px;
    }
}

/*--------okno modalne-style------------*/
.mobile-menu {
    display: flex;
    flex-direction: column;
    height: 502px;
    width: 250px;
    background-color: $color-pink-3;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu {
    display: flex;
    flex-direction: column;
    

        &__link {
            text-decoration: none;
                font-size: 14px;
                color: white;
                font-weight: 700;
                line-height: 1.3em;
            
                &:hover,
                :active {
                    color: $color-raspberry;
            
                }
        }
        &__item {
            width: 250px;
            height: 42px;
            border: 1px solid #E18298;
            padding-left: 20px;
            padding-top: 11px;
            border-left: none;
            border-right: none;
        }
}
.botton {
        border: none;
        border-radius: 20px;
        padding: 13px 25px;
        font-size: 16px;
        font-weight: 700px;
        margin: 60px 20px 22px 20px;
        line-height: 1.3em;
}
.botton--white {
    background-color: $color-white;
        color: $color-raspberry;
    
        &:hover,
        &:active {
            background-color: $color-btn-white-hvr;
        }
}
.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    font-weight: 400;
    font-size: 20px;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateZ(-100%);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
@media screen and (min-width: 768px) {
    .mobile-menu {
        width: 254px;
        height: 1020px;
    }
    .menu__item {
        width: 254px;
    }
}