.products {
padding-top: 120px;

    &__title {
        font-family: $font-head;
        font-size: 18px;
        font-weight: 400;
        color: $color-pink-1;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.167;
    }

    &__h2 {
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 144px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 130px;
        margin-bottom: 100px;
    }

    &__item {
        background-color: $color-pink-1;
        border-radius: 24px;
        position: relative;   

        &--icecream::before {
            content: url(../images/products/products1mobile@1x.png);
            position: absolute;
            z-index: 1;
            top: -115px;
            left: 50%;
            transform: translateX(-50%);
        }
        
        &--coffee {
            background-color: $color-creamy;

            &::before {
                content: url(../images/products/products2mobile@1x.png);
                position: absolute;
                z-index: 1;
                top: -115px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &--milkshake {
            background-color: $color-green;

            &::before {
                content: url(../images/products/products3mobile@1x.png);
                position: absolute;
                z-index: 1;
                top: -115px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
                &::after {
                    content: "";
                    height: 6px;
                    width: 26px;
                    top: 45%;
                    left: 50%;
                    display: inline-block;
                    position: absolute;
                    font-size: 50px;
                    border-bottom: 6px dotted $color-white;
                    transform: translate(-50%, -50%);
                }
    }


    &__label {
        font-family: $font-head;
        font-size: 20px;
        font-weight: 400;
        color: $color-white;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.15;
        letter-spacing: 4%;
        margin-top: 161px;
        }

    &__text {
        font-family: $font-main;
        font-size: 14px;
        font-weight: 700;
        color: $color-white;
        text-align: center;
        line-height: 1.5;
        // padding: 0px 40px;
        margin: 0 auto;
        margin-top: 66px;
        max-width: 185px;
    }

    &__link {
        display: flex;
        border-radius: 50%;
        border: none;
        width: 40px;
        height: 40px;
        background-color: $color-white;
        justify-content: center;
        align-items: center;
        margin: 30px auto 40px auto;

        &:hover,
        &:focus {
            background-color: $color-btn-raspberry-hvr;
        }
    }

    &__icon {
        fill: $color-raspberry;
        
        &:hover,
        &:focus{
            fill: $color-btn-white-hvr;
        }
    }
}
@media screen and (min-width: 768px) {
.products {

    &__title {
        font-family: $font-head;
        font-size: 26px;
        font-weight: 400;
        color: $color-pink-1;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.154;
    }

    &__h2 {
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 150px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-bottom: 112px;
    }

    &__item {
        background-color: $color-pink-1;
        border-radius: 24px;
        position: relative;
        width: 33%;
        

        &--icecream::before {
            content: url(../images/products/products1mobile@1x.png);
            position: absolute;
            z-index: 1;
            top: -115px;
            left: 50%;
            transform: translateX(-50%);
        }
        
        &--coffee {
            background-color: $color-creamy;

            &::before {
                content: url(../images/products/products2mobile@1x.png);
                position: absolute;
                z-index: 1;
                top: -115px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &--milkshake {
            background-color: $color-green;

            &::before {
                content: url(../images/products/products3mobile@1x.png);
                position: absolute;
                z-index: 1;
                top: -115px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
                &::after {
                    content: "";
                    height: 6px;
                    width: 26px;
                    top: 45%;
                    left: 50%;
                    display: inline-block;
                    position: absolute;
                    font-size: 50px;
                    border-bottom: 6px dotted $color-white;
                    transform: translate(-50%, -50%);
                }
    }
    &__label {
        font-family: $font-head;
        font-size: 20px;
        font-weight: 400;
        color: $color-white;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.15;
        letter-spacing: 4%;
        margin-top: 152px;
        }

    &__text {
        font-family: $font-main;
        font-size: 14px;
        font-weight: 700;
        color: $color-white;
        text-align: center;
        line-height: 1.5;
        // padding: 0px 11px;
        margin: 0 auto;
        margin-top: 66px;
        max-width: 200px;
    }

    &__link {
        display: flex;
        border-radius: 50%;
        border: none;
        width: 40px;
        height: 40px;
        background-color: $color-white;
        justify-content: center;
        align-items: center;
        margin: 40px auto 40px auto;

        &:hover,
        &:focus {
            background-color: $color-btn-raspberry-hvr;
        }
    }

    &__icon {
        fill: $color-raspberry;
        
        &:hover,
        &:focus{
            fill: $color-btn-white-hvr;
        }
    }
}
}
@media screen and (min-width: 1280px) {
.products {
padding-top: 127px;

    &__title {
        font-family: $font-head;
        font-size: 30px;
        font-weight: 400;
        color: $color-pink-1;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.154;
    }

    &__h2 {
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 260px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-bottom: 120px;
    }

    &__item {
        background-color: $color-pink-1;
        border-radius: 24px;
        position: relative;
        width: 33%;
        // width: 330px;
        

        &--icecream::before {
            content: url(../images/products/products1mobile@1x.png);
            position: absolute;
            z-index: 1;
            top: -115px;
            left: 50%;
            transform: translateX(-50%);
        }
        
        &--coffee {
            background-color: $color-creamy;

            &::before {
                content: url(../images/products/products2mobile@1x.png);
                position: absolute;
                z-index: 1;
                top: -115px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &--milkshake {
            background-color: $color-green;

            &::before {
                content: url(../images/products/products3mobile@1x.png);
                position: absolute;
                z-index: 1;
                top: -115px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
                &::after {
                    content: "";
                    height: 6px;
                    width: 26px;
                    top: 42%;
                    left: 50%;
                    display: inline-block;
                    position: absolute;
                    font-size: 50px;
                    border-bottom: 6px dotted $color-white;
                    transform: translate(-50%, -50%);
                }
    }
    &__label {
        font-family: $font-head;
        font-size: 20px;
        font-weight: 400;
        color: $color-white;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.15;
        letter-spacing: 4%;
        margin-top: 163px;
        }

    &__text {
        font-family: $font-main;
        font-size: 16px;
        font-weight: 700;
        color: $color-white;
        text-align: center;
        line-height: 1.75;
        // padding: 0px 45px;
        margin: 0 auto;
        margin-top: 70px;
        max-width: 300px;
    }

    &__link {
        display: flex;
        border-radius: 50%;
        border: none;
        width: 40px;
        height: 40px;
        background-color: $color-white;
        justify-content: center;
        align-items: center;
        margin: 62px auto 50px auto;

        &:hover,
        &:focus {
            background-color: $color-btn-raspberry-hvr;
        }
    }

    &__icon {
        fill: $color-raspberry;
        
        &:hover,
        &:focus{
            fill: $color-btn-white-hvr;
        }
    }
}
}